<form class="sign-in" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h2>Sign-In</h2>
    <div class="email-container">
      <label for="Email">Enter Email</label>
      <div>
        <mat-form-field appearance="outline">
          <input type="email" matInput formControlName="emailFormControl">
          <!-- <mat-hint>Please enter a Valid email</mat-hint> -->
          <mat-error>Inavlid or missing email</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="password-container">
      <label for="Password">Enter Password</label>
      <div>
        <mat-form-field appearance="outline">
          <input type="password" matInput formControlName="password">
          <!-- <mat-hint>Please enter your password</mat-hint> -->
              <mat-error>Inavlid password</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="submit-container">
      <button class="submit-button" type="submit" [disabled]="loginForm.invalid">Submit</button>
    </div>
    <div class="link-container">
      <div>
        <a href="#" class="link">Forgot Password</a>
      </div>
      <div>
        <a href="#" class="link">Sign-Up</a>
      </div>
    </div>
</form>
