.sign-in{
  border: 1px solid;
  width: 280px;
  height: 350px;

  h2, .submit-container, .link-container{
    text-align: center;
  }

  .form-head-container{
    padding: 15px;
  }
  
  .email-container, .password-container{
    padding-inline-start: 35px;
  }

  .email-container{
    #mat-input-0{
      height: 30px;
      font-size: 14px;
    }
  }
  .password-container{
    #mat-input-1{
      height: 30px;
      font-size: 14px;
    }
  }

  .link-container{
    padding: 10px;

    .link{
      text-decoration: none;
      color: black;
    }
    .link:hover{
      color: grey;
    }
  }

  .submit-button{
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: grey;
    color: white;
  }
  .black-button{
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: black;
    color: white;
  }
}
