.sign-in{
  border: 1px solid;
  width: 280px;
  height: 335px;

  h2, .submit-container, .link-container{
    text-align: center;
  }

  .email-container, .password-container{
    padding-inline-start: 35px;
  }

  .email-container{
    #mat-input-0{
      height: 30px;
      font-size: 14px;
    }
  }
  .password-container{
    #mat-input-1{
      height: 30px;
      font-size: 14px;
    }
  }
  .mat-mdc-form-field-error-wrapper{
    font-size: 10px;
    color: red;
  }

  .link-container{
    padding: 10px;

    .link{
      text-decoration: none;
      color: black;
    }
    .link:hover{
      color: grey;
    }
  }

  .submit-button{
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: grey;
    color: white;
  }
  .black-button{
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: black;
    color: white;
  }
  .visibility-class{
    // width: 20px;
    // height: 15px;
  }
}
