<form class="sign-in" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <div class="form-head-container">
    <h2>Sign-Up</h2>
  </div> 
  <div class="name-container">
    <label for="Name">Enter Name</label>
    <div>
      <mat-form-field appearance="outline">
        <input type="text" matInput formControlName="nameFormControl">
        <!-- <mat-hint>Please enter a Valid email</mat-hint> -->
        <mat-error>Missing name</mat-error>
      </mat-form-field>
    </div>
  </div>
    <div class="email-container">
      <label for="Email">Enter Email</label>
      <div>
        <mat-form-field appearance="outline">
          <input type="email" matInput formControlName="emailFormControl">
          <!-- <mat-hint>Please enter a Valid email</mat-hint> -->
          <mat-error>Inavlid or missing email</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="password-container">
      <label for="Password">Enter Password</label>
      <div>
        <mat-form-field appearance="outline">
          <input [type]="hide ? 'password' : 'text'" matInput placeholder="Enter your password" formControlName="passwordFormControl">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-hint *ngIf="!passwordInput.value">Enter your password</mat-hint>
          <!-- <mat-hint>Please enter your password</mat-hint> -->
              <mat-error>Inavlid password</mat-error>
        </mat-form-field>
      </div>
      <label for="CPassword">Confirm Password</label>
      <div>
        <mat-form-field appearance="outline">
          <input type="password" matInput formControlName="cPasswordFormControl">
          <!-- <mat-hint>Please enter your password</mat-hint> -->
              <mat-error>Ipassword does not match</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="submit-container">
      <button class="submit-button" type="submit" [disabled]="signUpForm.invalid">Submit</button>
    </div>
    <div class="link-container">
      <div>
        <a routerLink="/" class="link">Sign-In</a>
      </div>
    </div>
</form>
